[submodule "codebase/interface"]
	path = codebase/interface
	url = ../eoos-api.git
[submodule "codebase/system"]
	path = codebase/system
	url = ../eoos-system-if-posix.git
[submodule "codebase/library"]
	path = codebase/library
	url = ../eoos-library.git
[submodule "codebase/tests"]
	path = codebase/tests
	url = ../eoos-tests.git
[submodule "scripts"]
	path = scripts
	url = ../eoos-scripts.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:google/googletest.git
